{% extends 'admins/base.html'%}

{%load static%}
{%block body%}
<div class="card">
    <div class="card-body">
        {%if q %}
        <h4 class="card-title">Search results for <span class="text-danger">{{q}}</span></h4>
        {%else%}
      <h4 class="card-title">List of Products</h4>
        {%endif%}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Image </th>
            <th> Title </th>
            <th> Available </th>
            <th> Amount </th>
            <th> Action </th>
          </tr>
        </thead>
        <tbody>
          {%for item in items %}
          <tr>
            <td class="py-1">
              <img src="/media/{{item.img.img}}" alt="image">
            </td>
            <td> {{item.title}} </td>
            <td>{% if item.outofstalk == 'True'%} <span class="text-danger">Restalk</span>{%else%} {{item.available}} {%endif%}</td>
            <td> Ksh. {{item.price}} </td>
            <td>
                <a href="/new?action=edit&id={{item.id}}" class="text-primary text-decoration-none"><i class=" icon-note p-1"></i></a>
                <a href="/new?action=delete&id={{item.id}}" class="text-danger text-decoration-none"><i class=" icon-trash p-1"></i></a>
                <a href="/category/{{item.category.first}}/{{item.id}}" class="text-success text-decoration-none"><i class="icon-eye"></i></a>
            </td>
          </tr>
          {%empty%}
          <tr>
          <td colspan="5" class="card-title text-center text-danger">Nothing found !!!</td>
          </tr>
          {%endfor%}
          </tbody>
      </table>
      <div class="text-right m-2">
            {% if items.has_previous %}
            <a href="?q={{q}}&page={{items.previous_page_number}}" class="btn btn-primary btn-sm btn-icon-text"><i class=" icon-arrow-left me-2"></i></a>
            {% endif %}
            {% if items.has_next %}
            <a href="?q={{q}}&page={{items.next_page_number}}" class="btn btn-primary btn-sm btn-icon-text"><i class=" icon-arrow-right me-2"></i></a>
            {% endif %}
        </div>
      
  
    </div>
  </div>

{%endblock%}