
{%extends 'registration/base.html'%}

{%block body%}


<section
class="mt-0 overflow-hidden  vh-100 d-flex justify-content-center align-items-center p-4">

<div class="col col-md-8 col-lg-6 col-xxl-5">
    <a class="navbar-brand fw-bold fs-3 flex-shrink-0 order-0 align-self-center justify-content-center d-flex mx-0 px-0" href="/">
        <div class="d-flex align-items-center">
            {{site_name}}
        </div>
    </a>
    <div class="shadow-xl p-4 p-lg-5 bg-white">
        <h1 class="text-center fs-2 mb-5 fw-bold">Password Reset complete</h1>
        <p class="text-muted">You have successfully changed your password, <a href="/login">login now</a></p>
    </div>

</div>
</section>


{%endblock%}