{%load static %}
<section class="vh-75 vh-lg-60 container-fluid rounded overflow-hidden" data-aos="fade-in">
    <div class="swiper-container overflow-hidden rounded h-100 bg-light" data-swiper data-options='{
      "spaceBetween": 0,
      "slidesPerView": 1,
      "effect": "fade",
      "speed": 1000,
      "loop": true,
      "parallax": true,
      "observer": true,
      "observeParents": true,
      "lazy": {
        "loadPrevNext": true
        },
        "autoplay": {
          "delay": 5000,
          "disableOnInteraction": false
      },
      "pagination": {
        "el": ".swiper-pagination",
        "clickable": true
        }
      }'>
        <div class="swiper-wrapper">

            <div class="swiper-slide position-relative h-100 w-100">
                <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden"
                        data-swiper-parallax="-100"
                        style=" will-change: transform; background-image: url('static/clients/assets/images/banners/banner-1.jpg')">
                    </div>
                </div>
                <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100">Everything You
                        Need</p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white"
                        data-swiper-parallax="100">
                        <span class="text-outline-light">Home</span> Decorations
                    </h2>
                    <div data-swiper-parallax-y="-25">
                        <a href="/category/" class="btn btn-psuedo text-white" role="button">Shop New
                            Arrivals</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide position-relative h-100 w-100">
                <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden"
                        data-swiper-parallax="-100"
                        style=" will-change: transform; background-image: url('static/clients/assets/images/banners/banner-2.jpg')">
                    </div>
                </div>
                <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100">All Art
                    </p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white"
                        data-swiper-parallax="100">
                        Atom <span class="text-outline-light">Shop</span></h2>
                    <div data-swiper-parallax-y="-25">
                        <a href="#" class="btn btn-psuedo text-white" role="button">Shop Now
                            Atom</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide position-relative h-100 w-100">
                <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden"
                        data-swiper-parallax="-100"
                        style=" will-change: transform; background-image: url('static/clients/assets/images/banners/banner-4.jpg')">
                    </div>
                </div>
                <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100">We do it for you</p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white"
                        data-swiper-parallax="100">
                        Atom <span class="text-outline-light">Shop</span></h2>
                    <div data-swiper-parallax-y="-25">
                        <a href="#" class="btn btn-psuedo text-white" role="button">Shop with us</a>
                    </div>
                </div>
            </div>

            <div class="swiper-slide position-relative h-100 w-100">
                <div class="w-100 h-100 overflow-hidden position-absolute z-index-1 top-0 start-0 end-0 bottom-0">
                    <div class="w-100 h-100 bg-img-cover bg-pos-center-center overflow-hidden"
                        data-swiper-parallax="-100"
                        style=" will-change: transform; background-image: url('static/clients/assets/images/banners/banner-3.jpg')">
                    </div>
                </div>
                <div
                    class="container position-relative z-index-10 d-flex h-100 align-items-start flex-column justify-content-center">
                    <p class="title-small text-white opacity-75 mb-0" data-swiper-parallax="-100">Look Good Feel
                        Good</p>
                    <h2 class="display-3 tracking-wide fw-bold text-uppercase tracking-wide text-white"
                        data-swiper-parallax="100">
                        <span class="text-outline-light">Sustainable</span> Designs
                    </h2>
                    <div data-swiper-parallax-y="-25">
                        <a href="" class="btn btn-psuedo text-white" role="button">Why We Are
                            Different</a>
                    </div>
                </div>
            </div>

        </div>

        <div class="swiper-pagination swiper-pagination-bullet-light"></div>

    </div>
</section>