<div class="bg-secondary py-4">
    <div class="container-fluid">
        <nav class="m-0" aria-label="breadcrumb">
            <ol class="breadcrumb m-0">
              <li class="breadcrumb-item breadcrumb-light"><a href="/">Home</a></li>
              <li class="breadcrumb-item breadcrumb-light"><a href="/category/{{product.category.first}}">{{product.category.first}} </a></li>
              <li class="breadcrumb-item  breadcrumb-light active" aria-current="page">{{product.title}}</li>
            </ol>
        </nav>            
      </div>
</div>



