{%load static %}

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
        rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'clients/assets/images/favicon/favicon.svg' %}" type="image/x-icon">
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" href="{% static 'clients/assets/css/libs.bundle.css' %}" />

    <link rel="stylesheet" href="{% static 'clients/assets/css/theme.bundle.css' %}" />
    <noscript>
        <style>
            .simplebar-content-wrapper {
                overflow: auto;
            }
        </style>
    </noscript>