

<h2 style="color: gray;">Hello {{fname}} {{lname}},</h2>
<h3 style="color:darkorchid;">We Have Received Your Order Of the following items</h3>
<table border="1" style="border-collapse: collapse; border:1px; ">
    <tr style="background-color: cornflowerblue; color: white;">
        <th>Quantity</th>
        <th style="width: 100%;">Items</th>
        <th>Price</th>
    </tr>
    {%for c in cart%}
    <tr style="border: 1px solid black;">
        <td>{{c.qty}}</td>
        <td style="width: 100%;">{{c.item.title}}</td>
        <td>{{c.price}}</td>

    </tr>
    {%endfor%}
</table>
<p>Thank you for shopping with us.</p>
<p>Regards</p>
<p>John Arthur S.</p>
<p>&copy; kipekee</p>

