

<h2 style="color: gray;">{{fname}} {{lname}}, Placed an order</h2>
<h3 style="color:darkorchid;">Items Ordered</h3>
<table border="1" style="border-collapse: collapse; border:1px; ">
    <tr style="background-color: cornflowerblue; color: white;">
        <th>Quantity</th>
        <th style="width: 100%;">Items</th>
        <th>Price</th>
    </tr>
    {%for c in cart%}
    <tr style="border: 1px solid black;">
        <td>{{c.qty}}</td>
        <td style="width: 100%;">{{c.item.title}}</td>
        <td>{{c.price}}</td>

    </tr>
    {%endfor%}
</table>

<p>&copy; kipekee</p>

